@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  font-family: var(--font-m);
  background-color: var(--bg-color);
  color: var(--secondary-color);
  min-height: 100vh;
}

.main-area {
  display: flex;
  background-color: var(--bg-color);
  color: var(--secondary-color);
}

.content-area {
  flex-grow: 1;
  padding: 20px;
}