@import "reset";
@import "variables/global.scss";
@import "themes/dark.scss";

.app {
  font: var(--font-l);

  background-color: var(--bg-color);
  color: var(--secondary-color);

  min-height: 100vh;
}
