.text {
  font-size: var(--font-m);
}

.error {
  color: rgba(255, 0, 0, 0.674);
}

.normal {
  color: var(--high-emphasis);
}

.s {
  font-size: 16px;
}

.m {
  font-size: 20px;
}

.l {
  font-size: 24px;
}