.button {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: solid rgb(20, 20, 20) 2px;
}

.primary {
  color: var(--bg-color);
  background-color: var(--primary-color-button);
  outline: none;
}

.clear {
  background: none;
  outline: none;
  border: 0;
}

.icon {
  background: none;
  color: var(--high-emphasis);
  fill: var(--high-emphasis);
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid var(--primary-color);
  color: var(--high-emphasis);
}

.disabled {
  opacity: .5;
  cursor: not-allowed;
}

.red {
  color: var(--bg-color);
  background-color: red;
}

// .background {

// }

.s {
  font-size: 12px;
}

.m {
  font-size: 16px;
}

.l {
  font-size: 20px;
}