.article {
  margin-top: 10px;
  width: var(--article-width);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-wrapper {
  position: relative;
}

.created-at {
  position: absolute;
  right: 2px;
  top: 2px;
}

.meta-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.compact-title {
  width: 700px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}