.article {
  max-width: 680px;
  margin-top: 20px;
}

.centered {
  justify-content: center;
  align-items: center;
}

.title {
  line-height: 110%;
}

.topics {
  .topic {
    text-decoration: none;
    color: var(--low-emphasis);
  }
}

.details {
  display: flex;
  flex-direction: column;

  span {
    font-size: smaller;
  }
}