.app-drawer {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  transition: 0.3s;
  animation: modal-fade .5s;
  transform: translateY(-100%);
  visibility: hidden;
}

.content {
  color: var(--high-emphasis);
  background-color: var(--bg-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  animation: modal-slide .5s;
  transition: 0.3s transform;
  width: 100vw;

  // transform: scale(0.3)
}

.header {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 3%;
  font-size: 1.7rem;
  font-weight: 700;
}

.main {
  padding: 10px 3%;
  flex-grow: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 3%;
  gap: 10px;
}

.open {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
  transform: translateY(0);
  visibility: visible;
}

.bg {
  width: 100%;
}

.bg>img {
  width: 100%;
  margin: 0;
  display: block;
}

.sheet {
  border: black 1px solid;
  z-index: 100;
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0;
  background: var(--bg-color);
  touch-action: none;
}

.sheet>div {
  height: calc(100vh - 100px);
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 0 20px;
  text-transform: capitalize;
}