.skeleton {
  cursor: progress;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(90deg, #ddda 40%, #bababaaa, #ddda 60%) right / 300% 100%;
  animation: skeleton-loading .5s linear infinite;
}

.max {
  width: 100%;
}

@keyframes skeleton-loading {
  to {
    background-position: left;
  }
}