.article {
  height: var(--height-of-main-section);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  gap: 20px;
}

.article-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.centered {
  justify-content: center;
  align-items: center;
}

.author-info {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  margin-top: 40px;
  line-height: 110%;
}

.topics {
  display: flex;
  gap: 20px;
  width: 100%;

  .topic {
    text-decoration: none;
    color: var(--low-emphasis);
  }
}

.details {
  display: flex;
  flex-direction: column;

  span {
    font-size: smaller;
  }
}

.item {
  display: flex;
  gap: 2px;
  align-items: center;
}

.meta-info {
  display: flex;
  gap: 10px;
}

.controls {
  display: flex;
  gap: 10px;
}