.dark {
  --bg-color: black;
  --primary-color: white;
  --secondary-color: rgb(205, 205, 205);

  --links-primary-color: rgb(36, 36, 36);
  --links-secondary-color: rgb(52, 52, 52);

  --inverted-secondary-color: rgb(56, 56, 56);
}
