.dark {
  --bg-color: #111;
  --text-color: white;

  --primary-color-button: #fff;

  --primary-color: #1F1F1F;
  --secondary-color: #1E1E1E;

  --links-primary-color: rgb(235, 235, 235);
  --links-secondary-color: rgb(206, 204, 204);

  --inverted-secondary-color: rgb(56, 56, 56);

  --high-emphasis: #ffffffd1;
  --medium-emphasis: #ffffffa0;
  --low-emphasis: #fff5;

  --input-underline-color: #f7f7f7;

  --comments-text-area-color: #1F1F1F;

  --dropdown-background-color: #3b3b3b;
}