.app.light {
  --bg-color: white;
  --primary-color: black;
  --secondary-color: rgb(20, 20, 20);

  --links-primary-color: white;
  --links-secondary-color: rgb(194, 194, 194);

  --inverted-secondary-color: rgb(20, 20, 20);
}
