.light {
  --bg-color: white;
  --primary-color: black;
  --secondary-color: rgb(20, 20, 20);

  --links-primary-color: rgb(37, 37, 37);
  --links-secondary-color: rgb(50, 50, 50);

  --inverted-secondary-color: rgb(20, 20, 20);
}