.navbar {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 0;
  z-index: var(--navbar-z-index);
}

.links {
  margin-left: auto;
}