.article-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item {
  display: flex;
  gap: 2px;
  align-items: center;
}

.meta-info {
  display: flex;
  gap: 10px;
}

.controls {
  display: flex;
  gap: 10px;
}