.comment-card {
  position: relative;
}

.comment-text {
  margin-top: 10px;
}

.controls-bar {
  display: flex;
  justify-content: space-between;
}

.controls {
  position: absolute;
  right: 10px;
  top: 10px;
}