.credentials {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section {
  display: flex;
  flex-direction: column;
}